@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{
    background: #FFF5E1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 450px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 205, 211);
  border-radius: 8px;
  padding: 2rem; /* 💡 importante para que no se peguen los labels a los bordes */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
}

.row{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: calc(50% - 1rem);
}

label{
  font-weight: 600;
  color: #8B4513;
  background: transparent;
  padding: 0.3rem 0;
  border: none;
  box-shadow: none;
}

input{
    width: 100%;
    height: 2.5rem;
    border: none;
    outline: none;
    padding: 0px .5rem;
}

h1{
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    color: #8B4513;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
  align-self: flex-end;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: auto; 
}
.error{
    outline: 2px red solid;
}
input {
  background-color: #FFC0CB; 
  border: 1px solid #8B4513; 
  padding: 0.5rem;
  border-radius: 6px;
  color: #333;
}


input:focus {
  background-color: #fff;   
  border-color: #8B4513;     
  outline: none;
}
input.error {
  border: 2px solid red !important;
}

button[type="submit"] {
  background-color: #8B4513;
  color: white;                
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #b36c39;
}
#primera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #df9a69;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem; 
  z-index: 1000;
}
a:hover{
    color: #FFC0CB;
}
a{
    text-decoration: none;
    color: #8B4513;
    font-weight: 500;
    background-color: #df9a69;

}


